body {
    background-image: url('https://media.coindesk.com/uploads/2014/11/Screen-Shot-2014-11-21-at-3.29.20-PM.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h1 {
    color: black;
    font-family: "Helvetica";
}

div {
    margin: 0 auto;
    text-align: center;
}

img {
    border: 10px dashed red;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
/* Section Styles */
section.intro {
    background-color: rgba(0,0,0,0.4);
    border: 5px dashed red;
}
/* Navbar Styles */
header {
    background-color: pink;
    font-family: "Arial";
    font-size: 24px;
}
ul {
    list-style: none;
}
li {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
}
/* End Navbar Styles */

/* About Styles */
.about-page {
    background-image: url('https://cdn-images-1.medium.com/max/1600/1*vUatPBOeK1JP9gbKmcmgqA.png');
}
.about-page h1 {}
.about-page h1.web {}
.web {}
h1.web {}